.homeWrap{
    display: grid;
    grid-template-columns: 40% 10% 10% 30% 5%;
    grid-template-rows: 40% 10% 10% 30% 5%;
    gap: 20px;
    .greetingsBar{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .requestsBar{
        grid-column: 1 / 4;
        grid-row: 2 / 5;
    }
    .announcementBar{
        grid-column: 4 / 6;
        grid-row: 1 / 5;
    }
}