
.exampleWrap{
    position: relative;
}


// Todo: Mobile view not yet optimized

@media (max-width: 1680px) {
    .exampleWrap{
        .wholeCarouselWrap{
            // height: 300px;
            .rightSide{
                right: -106px;
                iframe{
                    width: 619px;
                    height: 560px;
                }
                // .planet{
                //     height: 50px;
                // }
            }
        }
    }
}

.wholeCarouselWrap{
    height: 385px;
    margin: auto;
    color: #fff;
    background: linear-gradient(to right, rgb(71, 73, 160), black);
    padding: 30px 30px 10px 30px;
    display: flex;
    border-radius: 10px;
    .leftSide{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
    }
    .rightSide{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -120px;
        overflow: hidden;
        iframe{
            width: 751px;
            height: 520px;
        }
        .planet{
            // outline: 1px solid red;
            position: absolute;
            top: -21px;
            right: 75px;
            height: 66px;
        }
    }
    .greetingsBar{
        margin-bottom: 10px;
        padding: 0 30px;
        font-size: 25px;
    }
    .newsWrap{
        position: relative;
        // width: 600px;
    }
}


.carouselWrap{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        // border: 1px solid red;
        padding: 0 30px;
        .date{
            text-align: start;
            color: rgba(255, 255, 255, 0.5);
        }
        .caption{
            text-align: start;
            margin-bottom: 20px;
            opacity: 0.8;
        }
        .personInfo{
            display: flex;
            .personPic{
                height: 40px;
                width: 40px;
                border-radius: 30px;
                object-fit: cover;
                margin-right: 10px;
            }
            .person{
                align-self: center;
            }
        }
}

@media screen and (max-width: 1065px) {

        .wholeCarouselWrap{
            .leftSide{
                width: 100%;
                z-index: 30;

                .newsWrap{
                    background: rgba(0,0,0,0.7);
                    border-radius: 10px;
                }
            }
        }
        
}