@import 'react-responsive-carousel/lib/styles/carousel.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media print {
    body * {
      visibility: hidden;
    }
    #printable-area * {
      visibility: visible;
    }
    #printable-area {
      position: absolute;
      left: 0;
      top: 0;
    }
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .stamp-mobile {
    height: 200px;
    @apply !relative 
  }

  #stamp-mobile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* mobile responsive sa holidays cards */
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .cardHolidayBody {
    flex-direction: column-reverse
  }

  .cardHolidayText {
    width: 100%;
    text-align: left;
    padding-top: 10px;
  }

  .cardHolidayType {
    margin-bottom: 20px !important;
  }
  
  /* still on progress */
  .holidayCalendar {
    width: inherit;
    /* border: 2px solid green; */
  }
}

/* // media queries for holidays calender mobile screen / osama */
@media only screen and (min-width: 320px) and (max-width: 499px) {
  .custom-static-datepicker {
    zoom: 0.9 !important;
  }

  .holidaySectionOneContainer {
    height: auto !important;
  }

}

@media only screen and (min-width: 320px) and (max-width: 720px) {
    /* addtion for admin portal since i cant find solution with current setup */
    .adminPortalCardsContainer {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
} 

.modal-content {
  @apply bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-8 border-none outline-none max-w-[100%] overflow-auto max-h-[700px] rounded-lg;
}